{% extends "project/instances/_decryptpassword.html" %}
{% load i18n %}

{% block form_action %}{% url "horizon:project:virtual_instances:decryptpassword" instance_id keypair_name %}{% endblock %}

{# Copied to repoint Cancel; the submit button is unchanged. #}
{% block modal-footer %}

{% for f in form %}
{% if f.id_for_label|stringformat:"s" == "id_private_key" %}
<input class="btn btn-primary pull-right" type="submit" id="decryptpassword_button" value="{% trans "Decrypt Password" %}" />
{% endif %}
{% endfor %}

<a href="{% url "horizon:project:virtual_instances:index" %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
{% endblock %}
