{% load i18n %}

<div class="launchButtons pull-right">
  {% if create_network_allowed %}
    <a href="{% url 'horizon:project:network_topology:createnetwork' %}"
       id="networks__action_create" class="btn btn-default ajax-modal {% if network_quota_exceeded %}disabled{% endif %}">
      <span class="fa fa-plus"></span>
      {% if network_quota_exceeded %}
        {% trans "Create Network (Quota exceeded)" %}
      {% else %}
        {% trans "Create Network" %}
      {% endif %}
    </a>
  {% endif %}
  {% if create_router_allowed %}
    <a href="{% url 'horizon:project:network_topology:createrouter' %}"
       id="Routers__action_create" class="btn btn-default ajax-modal {% if router_quota_exceeded %}disabled{% endif %}">
      <span class="fa fa-plus"></span>
      {% if router_quota_exceeded %}
        {% trans "Create Router (Quota exceeded)" %}
      {% else %}
        {% trans "Create Router" %}
      {% endif %}
    </a>
  {% endif %}
</div>
